<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81919d3d-3e44-4bff-8aa3-1f4539dc717e" Alias="hehefefe" Level="1">
  <Info>
    <Name>hehefefe</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>hehefefe</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="883de19a-44fc-43b6-a2f6-a87c0400df7d">hehefefe</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>