@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <!-- Include the Slidereklam CSS file -->
    <link rel="stylesheet" href="~/css/Slidereklam.css">

    <!-- Include the Slidereklam JavaScript file -->
    <script src="~/js/Slidereklam.js" defer></script>

<div class="slideshow-container">
  <div class="mySlides">
    <div class="numbertext">1 / 4</div>
    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width: 100%;">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="https://www.w3schools.com/howto/img_fjords_wide.jpg" style="width: 100%;">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 4</div>
    <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width: 100%;">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 4</div>
    <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width: 100%;">
    <div class="text">Caption Text</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>





