@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>

@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<link rel="stylesheet" href="@Url.Content("~/css/Loginblog.css")" />


@if (!User.Identity.IsAuthenticated)
{
    <p id="inloggad">Du måste vara inloggad för att kunna se detta innehåll.</p>
}
else
{
<section class="section">

    <div class="container">
        @await Umbraco.RenderMacroAsync("latestBlogposts",
            new
            {
                numberOfPosts = Model.HowManyPostsShouldBeShown,
                startNodeId = Model.Id
            })
    </div>

</section>
}