<?xml version="1.0" encoding="utf-8"?>
<Macro Key="67775fd7-0bee-49a4-8019-203216566d29" Alias="Login" Level="0">
  <Name>Login</Name>
  <MacroSource>~/Views/MacroPartials/Login.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>