<?xml version="1.0" encoding="utf-8"?>
<Macro Key="59dbb636-57c6-4701-bfaf-1f9779209e98" Alias="Register" Level="0">
  <Name>Register</Name>
  <MacroSource>~/Views/MacroPartials/Register.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>