<?xml version="1.0" encoding="utf-8"?>
<Macro Key="444e84b1-6840-4962-89e6-e5cf052af792" Alias="Register" Level="0">
  <Name>Register</Name>
  <MacroSource>~/Views/MacroPartials/Register.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>