@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Loginregister>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/Loginblog.css")" />

<div class="logReg">
	<div class="login">
		@await Umbraco.RenderMacroAsync("Login")
	</div>

	<div class="register">
		@await Umbraco.RenderMacroAsync("Register")
	</div>
</div>
