<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c" Alias="Contact - Map Coordinates - Open street maps" Level="1">
  <Info>
    <Name>Contact - Map Coordinates - Open street maps</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": {
    "boundingBox": {
      "northEastCorner": {
        "latitude": 58.2007211497144,
        "longitude": 16.0026812553406
      },
      "southWestCorner": {
        "latitude": 58.199590430205,
        "longitude": 15.9979766607285
      }
    },
    "marker": {
      "latitude": 58.2001567367534,
      "longitude": 16.0003250670535
    },
    "zoom": 18
  },
  "scrollWheelZoom": true,
  "showCoordinates": false,
  "showSearch": false,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>