<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c07a4618-a239-4893-a320-060e487723b4" Alias="Home - sumnsumn - Block Grid" Level="1">
  <Info>
    <Name>Home - sumnsumn - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [],
  "CreateLabel": null,
  "GridColumns": 2,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": 4
  }
}]]></Config>
</DataType>