<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a90c4ee-420c-4374-b47e-25ad97c5e93a" Alias="Home - MAP - Open Street Map" Level="1">
  <Info>
    <Name>Home - MAP - Open Street Map</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": null,
  "scrollWheelZoom": true,
  "showCoordinates": false,
  "showSearch": false,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>