<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11cd336b-41c7-4ce6-bc05-b9ec8b6ec87f" Alias="Maträtt - Price - Decimal" Level="1">
  <Info>
    <Name>Maträtt - Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>