<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8dbb224-5abe-49b0-b954-baa2891b49ce" Alias="Cropped Logga Kopia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CroppedLoggaKopia</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T15:18:55</CreateDate>
    <NodeName Default="Cropped Logga Kopia" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ekznxkf4/cropped-logga-kopia.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>