<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a7cfe5e-f1ed-495c-a9c6-521e127dcd41" Alias="Jag,Isaias,jacob,adrian" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/JagIsaiasJacobAdrian</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T23:27:49</CreateDate>
    <NodeName Default="Jag,Isaias,jacob,adrian" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ld5hy4xn/types-company-culture.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>