<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fc1e921-e5f8-4ae7-89e8-c83334596c6b" Alias="Kebabpizza" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kebabpizza</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T19:01:50</CreateDate>
    <NodeName Default="Kebabpizza" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e5uncx5y/kebabpizza.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>