<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d54c550-f8a3-4402-a8ce-d13f14d4a571" Alias="Paulie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Paulie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T14:55:59</CreateDate>
    <NodeName Default="Paulie" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k1cfi1nd/paulie.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>