<?xml version="1.0" encoding="utf-8"?>
<Media Key="f502930e-7e64-41f7-9811-0c657cb3e1c6" Alias="Types Company Culture" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TypesCompanyCulture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T22:32:35</CreateDate>
    <NodeName Default="Types Company Culture" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bcjbf3le/types-company-culture.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>