<?xml version="1.0" encoding="utf-8"?>
<Content Key="81dd99e4-ebbe-4952-aabf-d1920369af0b" Alias="fsddddddddddd" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/fsddddddddddd</Path>
    <Trashed Parent="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-11T15:23:09</CreateDate>
    <NodeName Default="fsddddddddddd" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[dasd]]></Value>
    </category>
    <description>
      <Value><![CDATA[dfdsf]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "7e693e69-b599-4542-972f-ab600830177a",
    "mediaKey": "b001a4cb-5f33-4957-917d-597ca0ea05a4"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[90]]></Value>
    </price>
    <productName>
      <Value><![CDATA[sdf]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>