<?xml version="1.0" encoding="utf-8"?>
<Content Key="31f944c6-9563-402b-83a7-c422b4cbfec4" Alias="Kebab Tallrik" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/KebabTallrik</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-11T14:42:50</CreateDate>
    <NodeName Default="Kebab Tallrik" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Kebab]]></Value>
    </category>
    <description>
      <Value><![CDATA[Kebab är en maträtt med ursprung i Mesopotamien samt länderna kring östra Medelhavet och Sydasien innehållande bitar av kött, fågel, fisk, eller grönsaker rostade eller grillade på spett. Kebab/kabob kommer från akkadiska "kebabu", vilket betyder rostad/grillad.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "a0eff629-4a7e-47d1-87e5-7b78b31c1ec8",
    "mediaKey": "c5a0dee4-e46e-4c38-8c21-2dc5c7afcd17"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[90]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Kebab Tallrik]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>