<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1d80bc5-9eca-4752-b57b-e87de8860607" Alias="Kebabrulle" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Meny</Parent>
    <Path>/Home/Meny/Kebabrulle</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-11T17:37:18</CreateDate>
    <NodeName Default="Kebabrulle" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Kebab]]></Value>
    </category>
    <description>
      <Value><![CDATA[tasty kebabrulle som du blir mätt på kompis.]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f4f2540105ca4339acafd72eefbc78b8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/f4f2540105ca4339acafd72eefbc78b8",
      "featureName": "Kalorier:",
      "featureDetails": "900"
    }
  ],
  "settingsData": []
}]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "85f38ccd-b04a-4c1a-90d2-c6f41acee0d1",
    "mediaKey": "ae21897b-dbd4-4890-b273-c8663ea38380"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[89.9]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Kebabrulle]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>