<?xml version="1.0" encoding="utf-8"?>
<Content Key="8698dd78-792e-4ce3-bd80-54f0ea29eb61" Alias="Kebab Pizza" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/KebabPizza</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-10T19:02:12</CreateDate>
    <NodeName Default="Kebab Pizza" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Pizza]]></Value>
    </category>
    <description>
      <Value><![CDATA[god]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "9770b61b-9c67-46dd-8e58-a9dc30799b44",
    "mediaKey": "5fc1e921-e5f8-4ae7-89e8-c83334596c6b"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[100]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Pizza]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>