<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5ec7c43-ee27-4621-92f3-54c71b703752" Alias="Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2023-11-11T12:34:55</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f494060-6320-439f-a649-18db0cf12564">Login</Template>
  </Info>
  <Properties>
    <loginregister>
      <Value><![CDATA[<p> </p>
<?UMBRACO_MACRO macroAlias="Login" />
<?UMBRACO_MACRO macroAlias="Register" />
<p> </p>]]></Value>
    </loginregister>
  </Properties>
</Content>