<?xml version="1.0" encoding="utf-8"?>
<Content Key="60e82bc4-a771-417c-85c2-f534d03deb2a" Alias="Login (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Login1</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>loginregister</ContentType>
    <CreateDate>2023-11-13T19:33:07</CreateDate>
    <NodeName Default="Login (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81c9ed84-b6eb-4b72-a747-7f0d4418391d">Loginregister</Template>
  </Info>
  <Properties>
    <login>
      <Value><![CDATA[<p> </p>
<?UMBRACO_MACRO macroAlias="Login" />
<?UMBRACO_MACRO macroAlias="Register" />
<p> </p>]]></Value>
    </login>
  </Properties>
</Content>