<?xml version="1.0" encoding="utf-8"?>
<Content Key="0198fc8f-862a-4610-b745-63c12f148b2f" Alias="login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginregister</ContentType>
    <CreateDate>2023-11-13T23:17:58</CreateDate>
    <NodeName Default="login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe112ba0-2332-4126-a1f6-1b6056715c78">loginregister</Template>
  </Info>
  <Properties>
    <login>
      <Value><![CDATA[<p> </p>
<?UMBRACO_MACRO macroAlias="Login" />
<?UMBRACO_MACRO macroAlias="Register" />
<p> </p>]]></Value>
    </login>
  </Properties>
</Content>