<?xml version="1.0" encoding="utf-8"?>
<Content Key="782c631b-11e9-4e90-8fc1-6aeff37b488a" Alias="My Blog Post" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Home/Blog/MyBlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-11-10T18:30:55</CreateDate>
    <NodeName Default="My Blog Post" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "demo",
  "umbraco",
  "starter kit"
]]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nibh eget dui mattis dapibus. Nulla ullamcorper sapien eget congue vehicula. Suspendisse molestie mauris id enim viverra facilisis. Aenean eu arcu eget lacus viverra ullamcorper. Suspendisse a lacus erat. Quisque id dapibus enim. Cras sit amet lacinia odio, ut aliquet libero. Proin vulputate suscipit nisi, in varius massa molestie at. Vestibulum non condimentum odio.

Maecenas eget efficitur libero, quis mattis est. Aenean quis rhoncus felis. Maecenas nisi lacus, pretium ac consectetur sit amet, eleifend et purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean lobortis elementum ultricies. In euismod velit sed nisi luctus, in egestas dolor ullamcorper. Integer id risus in arcu egestas cursus. Mauris tristique ultricies tellus, a bibendum sapien tristique vel. Vivamus fermentum sapien lacus, at ultricies ligula lobortis luctus. Ut vel vestibulum ipsum. Nam non velit non elit tempus facilisis a ac elit. Suspendisse turpis ipsum, sagittis et erat id, fringilla lacinia mi. Vivamus rhoncus orci vitae dictum rhoncus. Pellentesque ut nulla pulvinar, mattis magna sed, venenatis dui. Vivamus eu urna ut arcu mollis laoreet ac sit amet libero.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[snacktime]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>