<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62" Alias="People" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/People</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>people</ContentType>
    <CreateDate>2023-11-10T18:30:55</CreateDate>
    <NodeName Default="People" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3bedda0-830e-436f-82c0-12e4c05ce33a">people</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <featuredPeople>
      <Value><![CDATA[]]></Value>
    </featuredPeople>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Nice crazy people]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>