<?xml version="1.0" encoding="utf-8"?>
<Content Key="193577cc-15c4-4e42-8760-0912e1750621" Alias="Sallad" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Meny</Parent>
    <Path>/Home/Meny/Sallad</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-11T14:56:17</CreateDate>
    <NodeName Default="Sallad" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9e58cfa1cde44727812d6a31d91c566c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/9e58cfa1cde44727812d6a31d91c566c",
      "headline": "400 Kcal"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Sallad]]></Value>
    </category>
    <description>
      <Value><![CDATA[smarrig sallad]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "de33c7ff-6790-463e-bc1b-e7f0b522d397",
    "mediaKey": "6d54c550-f8a3-4402-a8ce-d13f14d4a571"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[57]]></Value>
    </price>
    <productName>
      <Value><![CDATA[sdf]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>