<?xml version="1.0" encoding="utf-8"?>
<Content Key="538f8a1c-4626-44a2-bc16-f88993122446" Alias="sdfg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/sdfg</Path>
    <Trashed Parent="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-11-11T17:14:47</CreateDate>
    <NodeName Default="sdfg" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/55b94384654e4b6691d98a918a27f3a7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/55b94384654e4b6691d98a918a27f3a7",
      "headline": "sdfg"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[sdfg]]></Value>
    </category>
    <description>
      <Value><![CDATA[sdfg]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/43892ea6385040ad90d03227cb24e49c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/43892ea6385040ad90d03227cb24e49c",
      "featureName": "sdfg",
      "featureDetails": "sdfg"
    }
  ],
  "settingsData": []
}]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "12df7e07-23ee-4689-96dd-4b19279d9136",
    "mediaKey": "6d54c550-f8a3-4402-a8ce-d13f14d4a571"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[19.9]]></Value>
    </price>
    <productName>
      <Value><![CDATA[sdfg]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[sdfg]]></Value>
    </sku>
  </Properties>
</Content>